.row
	.col-xs-3
		.panel.panel-default
			.panel-body
				%p Stats
	.col-xs-6
		.panel.panel-default
			.panel-body
				%p Feed
	.col-xs-3
		.panel.panel-default
			.panel-body
				%p About

.row
	.col-xs-3
		.panel.panel-default
			.panel-body
				%p Trends
